body{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  background-color: white;
  background-image: url( https://images.adsttc.com/media/images/5d06/ce01/284d/d137/2600/0266/slideshow/ChildStudio_6.jpg?1560727029);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
}
*{
  box-sizing: border-box;
}

ul{
  list-style: none;
}
a{
  text-decoration: none;
}
.navigation-container{
  position: sticky;
  top: 0;
  width: 100%;
  height: 64px;
  display: flex;
  box-shadow: 3px 3px 13px pink;
  background-color: white;

}
.navigation-content{
  height: 60px;
  display: flex;
  align-items: center;
justify-content: space-between;
margin: 0px 12%;
}
.logo img{
  float: left;
  height: 128px;
  box-sizing: border-box;
}
.fas{
  color: pink;
  font-family: sans-serif;
  font-size: 18px;
}
.cart button {
  background-color: transparent;
  border: none;
  color:pink;
  cursor: pointer;
  line-height: 3px;

}
.menu ul{
  display: flex;
}

.menu ul li a{
  padding: 0px 30px;
  font-family: fantasy;
  font-weight: bold;
  color: pink;
}
h1 {
	font-weight: 900;
	font-size: 30px;
	font-variant: small-caps;
	margin-top: 10px;
	margin-bottom: 0px;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5);
}

h1::after {  /* This is the underline */
	display: block;
	content: "";
	height: 2px;
	width: 115px;
	background: #fff;
	margin: 5px auto 25px;
	box-shadow: 5px 2px 3px rgba(0,0,0,0.5);
}
.container {
  padding-right: 30px;
  padding-left: 30px;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
    text-align: center;
}

/*=======================================
  TITLE STYLES
  =======================================*/
header {
	width: 100%;
	height: auto;
	display: block;
	color: #fff;
}

.head-main {
	text-shadow: 2px 4px 5px rgba(0, 0, 0, 0.9);
	font-variant: small-caps;
	letter-spacing: 5pt;
	word-spacing: 21pt;
	font-size: 3.5em;
	text-align: left;
	line-height: 2;
    font-weight: 900;
    border: 5px double #fff;
    padding: 10px;
}/*=======================================
  MENU STYLES
  =======================================*/

#menu-all {
	width: 650px;
	margin: 0% auto;
	padding: 1px 0px;
}

#form {
	margin: 0% auto;
	width: 600px;
	border-radius: 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
	align-items: stretch;
}

.menu-item {
	flex: 1 150px;
	min-width: 0;
	border: 3px solid #fff;
	box-shadow: 0 0 0 2px rgba(0,0,0, 0.3);
    padding: 0 0 10px 0;
	margin: 3px;
	border-radius: 1px;
	background-color: white;
}

.menu-item h3 {
	color: #fff;
	padding: 0 0 0 60px;
	margin: 0 auto;
	background-color: pink;
	text-shadow: 1.5px 1.5px 5px #000, 1px 1px 5px #000;
}

/*=======================================
  BUTTON STYLES
  =======================================*/

.controls {
	display: flex;
    justify-content: space-between;
	margin: 10px auto 30px;
	width: 450px;
}

.controls .button {
	flex: 1 150px;
}
.button {
	cursor: pointer;
	color: #fff;
	width: 100%;
	display: block;
	text-decoration: none;
	background-color: transparent;
	text-shadow: 1.5px 1.5px 5px #000, 1px 1px 5px #000;
	border-radius: 1px;
	margin: 1% 3px;
	padding: .1px 0 .1px 0px;
    font: 18px;
	border: 2px solid #fff;
	box-shadow: 0 0 0 2px rgba(0,0,0,.3);
	transition-timing-function: ease-in-out;
	transition-duration: .3s, .5s, .2s;
}

.button p {
	text-align: center;
	font-weight: bold;
}

.button:hover {
	font: 18px;
	font-weight: bold;
	color: #fff;
	background-color:pink;
	box-shadow: 0 0 0 2px rgba(0,0,0,.3);
}

/*=======================================
  CART STYLES
  =======================================*/

